/*
 * @Author: xiaofan 
 * @Date: 2018-12-24 21:41:44 
 * @Last Modified by: xiaofan
 * @Last Modified time: 2018-12-24 21:47:37
 */


.cate-select {
	display: inline-block;
	width: 200px;
	margin-right: 15px;
}