/*
 * @Author: xiaofan 
 * @Date: 2018-12-20 22:46:51 
 * @Last Modified by: xiaofan
 * @Last Modified time: 2018-12-23 17:48:53
 */

.opera {
	margin-right: 5px;

	&:hover {
		text-decoration: none;
	}
}

.search-wrap {
	margin-bottom: 20px;
	
	.form-group {
		margin-right: 10px;
	}
}