/*
 * @Author: xiaofan 
 * @Date: 2018-12-24 20:33:16 
 * @Last Modified by: xiaofan
 * @Last Modified time: 2018-12-24 20:41:09
 */

.page-header-right {
	position: absolute;
	right: 15px;
	top: 12px;
}