/*
 * @Author: DevZhang 
 * @Date: 2019-04-30 15:44:53 
 * @Last Modified by: DevZhang
 * @Last Modified time: 2019-04-30 15:46:27
 */

* {
    margin: 0;
    padding: 0;
}


#app {
    color: #ff0;
}