/*
 * @Author: xiaofan 
 * @Date: 2018-12-08 19:15:58 
 * @Last Modified by: xiaofan
 * @Last Modified time: 2018-12-09 23:34:39
 */


body {
	background: #ccc;
	#app {
		.jsx {
			color: orange;
			font-size: 55px;
		}
	}
}